APP_URL=http://localhost:3000

# Supabase Configuration (Database Only)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_SECRET_KEY=

# Discord OAuth Configuration
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=$APP_URL/api/auth/callback/discord
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=

# Authentication Configuration
JWT_SECRET=
